PORT=5000
ML_API_URL=http://localhost:8000
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiYjc1MWRhZmY3NzY5ZTZhZTI5N2M2MzQxY2M1OWQ5OCIsIm5iZiI6MTc3NzY2MzMwNi42MzkwMDAyLCJzdWIiOiI2OWY0ZmQ0YTFlMTI3OGM2MTY3YjYwZDgiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.tezD9dhVe64WmOf6_y2VtjZQEHyAAJgFzsDv1As76J8
TMDB_BASE_URL=https://api.themoviedb.org/3
CORS_ORIGIN=http://localhost:5173